<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed">
          <remove statusCode="502" subStatusCode="-1" />
          <remove statusCode="501" subStatusCode="-1" />
          <remove statusCode="500" subStatusCode="-1" />
          <remove statusCode="412" subStatusCode="-1" />
          <remove statusCode="406" subStatusCode="-1" />
          <remove statusCode="405" subStatusCode="-1" />
          <remove statusCode="404" subStatusCode="-1" />
          <remove statusCode="403" subStatusCode="-1" />
          <remove statusCode="401" subStatusCode="-1" />
          <error statusCode="401" prefixLanguageFilePath="" path="web\Error\401.html" responseMode="File" />
          <error statusCode="403" prefixLanguageFilePath="" path="web\Error\403.html" responseMode="File" />
          <error statusCode="404" prefixLanguageFilePath="" path="web\Error\404.html" responseMode="File" />
          <error statusCode="405" prefixLanguageFilePath="" path="web\Error\405.html" responseMode="File" />
          <error statusCode="406" prefixLanguageFilePath="" path="web\Error\406.html" responseMode="File" />
          <error statusCode="412" prefixLanguageFilePath="" path="web\Error\412.html" responseMode="File" />
          <error statusCode="500" prefixLanguageFilePath="" path="web\Error\500.html" responseMode="File" />
          <error statusCode="501" prefixLanguageFilePath="" path="web\Error\501.html" responseMode="File" />
          <error statusCode="502" prefixLanguageFilePath="" path="web\Error\502.html" responseMode="File" />
        </httpErrors>
        <staticContent>
            <mimeMap fileExtension=".vtt" mimeType="text/vtt" />
            <mimeMap fileExtension=".iso" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
            <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
        </staticContent>
        <caching>
            <profiles>
                <add extension=".mp4" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".svg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".json" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>
        <defaultDocument>
            <files>
                <clear />
                <add value="Web.html" />
                <add value="index.html" />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="http://192.168.0.15/web/download/vidoe" />
            </rewriteMaps>
            <rules>
                <clear />
                <rule name="BingWallpaper">
                    <match url="^Bing(/)?$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="https://www.bing.com/HPImageArchive.aspx" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <system.web>
        <customErrors mode="Off" />
    </system.web>
</configuration>
