<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
            <rewrite>
                <rules>
                <remove name="BingWallpaper" />
                    <remove name="重写规则1 对于 http://192.168.0.15/web/download/vidoe" />
                <rule name="VideoList">
                    <match url="^video(/)?$" />
                    <action type="Rewrite" url="api/VideoList.php" />
                </rule>
                </rules>
            </rewrite>
        </system.webServer>
</configuration>
