.html {
    margin:0px 0px 0px 0px;
}
body {
    margin: 0px 0px 0px 0px;
    overflow:hidden;
    height:100%;
    width:100%;
}
.img_c {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -5;
}
#web{
    height:100%;
    width:100%;
    position:relative;
    overflow:hidden;
}
#timebox {
    margin: 120px 0px 45px 0px;
    text-align: center;
}
#time {
    margin: 0 auto;
    width: 120px;
    height: 34px;
    opacity: 0.9;
    color: #ffffff;
    font-size: 30px;
    transition-duration: 350ms;
    transition-timing-function: ease;
}
#al {
    width: 120px;
    height: 34px;
    text-align: center;
    text-decoration: none;
}
#search {
    margin: 0px 0px 0px 0px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.60);
    opacity: 0.77;
    border-width: 0px;
    color: blue;
    width: 280px;
    height: 40px;
    border-radius: 45px;
    text-align: center;
    transition-duration:200ms;
    transition-timing-function:ease;
}
#searchbox {
    margin:0px 0px 0px 0px;
    text-align: center;
}
#search:hover {
    width: 450px;
    transform: scale(1.025,1.025);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.65);
}
#search:focus {
    box-shadow: 0px 0px 5px 0px #7b7b7b;
    opacity: 0.9;
    transform: scale(1.025,1.025);
    width: 450px;
}
#time:hover {
    transform: scale(1.2,1.2);
}
