<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="BingWallpaper">
                    <match url="^BingWallpaper(/)?$" />
                    <action type="Rewrite" url="https://www.bing.com/HPImageArchive.aspx" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
